# Testrapport för modulen
|Test av|Antal test|Testresultat|
|-------|-----------|------------|
|Fikonsprak.translateToFikonSprak()|3|länk till test|
