# Testrapport för modulen
|Test av|Antal test|Testresultat|
|-------|-----------|------------|
|Fikonsprak.translateToFikonSprak()|3|[länk till test](spec/support/Fikonsprak.spec.js)|
|Fikonsprak.translateFromFikonSprak()|2|[länk till test](spec/support/Fikonsprak.spec.js)|
|Fikonsprak.isFikonSprak()|2|[länk till test](spec/support/Fikonsprak.spec.js)|
