# Testrapport för modulen
|Test av metod|Antal test|Testresultat|
|-------|-----------|------------|
|Fikonsprak.translateToFikonSprak()|3|[länk till test](spec/support/Fikonsprak.spec.js)|
|Fikonsprak.translateFromFikonSprak()|2|[länk till test](spec/support/Fikonsprak.spec.js)|
|Fikonsprak.isFikonSprak()|2|[länk till test](spec/support/Fikonsprak.spec.js)|
|Rovarsprak.translateToRovarSprak()|3|[länk till test](spec/support/Rovarsprak.spec.js)|
|Rovarsprak.translateFromRovarSprak()|1|[länk till test](spec/support/Rovarsprak.spec.js)|
|Rovarsprak.validateTextInput()|2|[länk till test](spec/support/Rovarsprak.spec.js)|
|Rot13.encodeToROT13()|2|[länk till test](spec/support/Rot13.spec.js)|
|Rot13.decodeFromROT13()|2|[länk till test](spec/support/Rot13.spec.js)|
